<!DOCTYPE html>
<html>
  <head>
    <title>MascoMundo</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">  
    <meta name="description" content="Default Description">
    <meta name="keywords" content="Magento, Varien, E-commerce">
    <meta name="robots" content="INDEX,FOLLOW">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <title>Porto - Homepage 4</title>
    <link rel="icon" type="image/x-icon" href="http://www.newsmartwave.net/magento2/porto/pub/media/favicon/default/favicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="http://www.newsmartwave.net/magento2/porto/pub/media/favicon/default/favicon.png">
    <script type="text/javascript">
    $(function() {
        $("body").addClass("layout-fullwidth");
        $("body").addClass("wide");
        $(document).ready(function(){
            $(".drop-menu > a").off("click").on("click", function(){
                if($(this).parent().children(".nav-sections").hasClass("visible"))
                    $(this).parent().children(".nav-sections").removeClass("visible");
                else
                    $(this).parent().children(".nav-sections").addClass("visible")
            });
        });
        var scrolled = false;
        $(window).scroll(function(){
            if(!$('.page-header').hasClass('type10')) {
                if($(window).width()>=768){
                    if(140<$(window).scrollTop() && !scrolled){
                        $('.page-header').addClass("sticky-header");
                        scrolled = true;
                        if(!$(".page-header").hasClass("type12")) {
                            $('.page-header .minicart-wrapper').after('<div class="minicart-place hide"></div>');
                            var minicart = $('.page-header .minicart-wrapper').detach();
                            if($(".page-header").hasClass("type8"))
                                $('.page-header .menu-wrapper').append(minicart);
                            else
                                $('.page-header .navigation').append(minicart);
                                                    var logo_image = '<img src="<%= asset_path('logo-only-white.svg') %>" alt="Mm logo white 2">';
                            if($(".page-header").hasClass("type8"))
                                $('.page-header .menu-wrapper').prepend('<div class="sticky-logo">'+logo_image+'</div>');
                            else
                                $('.page-header .navigation').prepend('<div class="sticky-logo">'+logo_image+'</div>');
                                                } else {
                                                    $('.page-header.type12 .logo').append('<span class="sticky-logo"><img src=""/></span>');
                            $('.page-header .logo > img').addClass("hide");
                                                }
                                                                                }
                    if(140>=$(window).scrollTop() && scrolled){
                        $('.page-header').removeClass("sticky-header");
                        scrolled = false;
                        if(!$(".page-header").hasClass("type12")) {
                            var minicart;
                            if($(".page-header").hasClass("type8"))
                                minicart = $('.page-header .menu-wrapper .minicart-wrapper').detach();
                            else
                                minicart = $('.page-header .navigation .minicart-wrapper').detach();
                            $('.minicart-place').after(minicart);
                            $('.minicart-place').remove();
                            $('.page-header .minicart-wrapper-moved').addClass("minicart-wrapper").removeClass("minicart-wrapper-moved").removeClass("hide");
                        }
                                            if($(".page-header").hasClass("type8"))
                            $('.page-header .menu-wrapper > .sticky-logo').remove();
                        else if($(".page-header").hasClass("type12")) {
                            $('.page-header .sticky-logo').remove();
                            $('.page-header .logo > img').removeClass("hide");;
                        } else
                            $('.page-header .navigation > .sticky-logo').remove();
                                        }
                }
            }
        });
    });
    </script>
  </head>
  <body data-container="body" class="<%= @body_class || 'cms-porto-home-4 cms-index-index page-layout-1column layout-fullwidth wide' %>">

    <div class="fancybox-placeholder" style="display: none;"></div>
    <noscript>
        &lt;div class="message global noscript"&gt;
        &lt;div class="content"&gt;
        &lt;p&gt;
        &lt;strong&gt;JavaScript seems to be disabled in your browser.&lt;/strong&gt;
        &lt;span&gt;For the best experience on our site, be sure to turn on Javascript in your browser.&lt;/span&gt;
        &lt;/p&gt;
        &lt;/div&gt;
        &lt;/div&gt;
    </noscript>

    <div class="page-wrapper">
        <%= render partial: "header" if @navbar %>
        <%= render partial: "breadcrumbs" if @breadcrumbs %>

        <%= yield %>
    </div>

    <%= render partial: 'footer' %>

<script>
    window.weltpixel_quickview = {"baseUrl":"http:\/\/www.newsmartwave.net\/magento2\/porto\/demo4_en\/","closeSeconds":"5","showMiniCart":"1","showShoppingCheckoutButtons":"1"};
</script>

<div class="modals-wrapper">

    <aside class="modal-popup popup-authentication
        modal-slide
        _inner-scroll" data-role="modal" data-type="popup" tabindex="0">
        <div data-role="focusable-start" tabindex="0"></div>
        <div class="modal-inner-wrap" data-role="focusable-scope">
            <header class="modal-header">
                <button class="action-close" data-role="closeBtn" type="button">
                <span>Close</span>
                </button>
            </header>
            <div class="modal-content" data-role="content">
                <div class="block-authentication" data-bind="afterRender: setModalElement, blockLoader: isLoading" style="">
                    <div class="block block-new-customer" data-bind="attr: {&#39;data-label&#39;: $t(&#39;or&#39;)}" data-label="or">
                        <div class="block-title">
                            <strong id="block-new-customer-heading" role="heading" aria-level="2" data-bind="i18n: &#39;Checkout out as a new customer&#39;">Checkout out as a new customer</strong>
                        </div>
                        <div class="block-content" aria-labelledby="block-new-customer-heading">
                            <p data-bind="i18n: &#39;Creating an account has many benefits:&#39;">Creating an account has many benefits:</p>
                            <ul>
                                <li data-bind="i18n: &#39;See order and shipping status&#39;">See order and shipping status</li>
                                <li data-bind="i18n: &#39;Track order history&#39;">Track order history</li>
                                <li data-bind="i18n: &#39;Check out faster&#39;">Check out faster</li>
                            </ul>
                            <div class="actions-toolbar">
                                <div class="primary">
                                    <a class="action action-register primary" data-bind="attr: {href: registerUrl}" href="http://www.newsmartwave.net/magento2/porto/demo4_en/customer/account/create/">
                                    <span data-bind="i18n: &#39;Create an Account&#39;">Create an Account</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block block-customer-login" data-bind="attr: {&#39;data-label&#39;: $t(&#39;or&#39;)}" data-label="or">
                        <div class="block-title">
                            <strong id="block-customer-login-heading" role="heading" aria-level="2" data-bind="i18n: &#39;Checkout out using your account&#39;">Checkout out using your account</strong>
                        </div>
                        <!-- ko foreach: getRegion('messages') -->
                        <!-- ko template: getTemplate() -->
                        <div data-role="checkout-messages" class="messages" data-bind="visible: isVisible(), click: removeAll">
                            <!-- ko foreach: messageContainer.getErrorMessages() --><!--/ko-->
                            <!-- ko foreach: messageContainer.getSuccessMessages() --><!--/ko-->
                        </div>
                        <!-- /ko -->
                        <!--/ko-->
                        <!-- ko foreach: getRegion('before') --><!-- /ko -->
                        <div class="block-content" aria-labelledby="block-customer-login-heading">
                            <form class="form form-login" method="post" data-bind="submit:login" id="login-form">
                                <div class="fieldset login" data-bind="attr: {&#39;data-hasrequired&#39;: $t(&#39;* Required Fields&#39;)}" data-hasrequired="* Required Fields">
                                    <div class="field email required">
                                        <label class="label" for="email"><span data-bind="i18n: &#39;Email Address&#39;">Email Address</span></label>
                                        <div class="control">
                                            <input name="username" id="email" type="email" class="input-text" data-bind="attr: {autocomplete: autocomplete}" data-validate="{required:true, &#39;validate-email&#39;:true}" autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="field password required">
                                        <label for="pass" class="label"><span data-bind="i18n: &#39;Password&#39;">Password</span></label>
                                        <div class="control">
                                            <input name="password" type="password" class="input-text" id="pass" data-bind="attr: {autocomplete: autocomplete}" data-validate="{required:true}" autocomplete="off">
                                        </div>
                                    </div>
                                    <!-- ko foreach: getRegion('additional-login-form-fields') -->
                                    <!-- ko template: getTemplate() -->
                                    <!-- ko if: (isRequired() && getIsVisible())--><!-- /ko -->
                                    <!-- /ko -->
                                    <!-- /ko -->
                                </div>
                                <div class="actions-toolbar">
                                    <input name="context" type="hidden" value="checkout">
                                    <div class="primary">
                                        <button type="submit" class="action action-login secondary" name="send" id="send2">
                                        <span data-bind="i18n: &#39;Sign In&#39;">Sign In</span>
                                        </button>
                                    </div>
                                    <div class="secondary">
                                        <a class="action" data-bind="attr: {href: forgotPasswordUrl}" href="http://www.newsmartwave.net/magento2/porto/demo4_en/customer/account/forgotpassword/">
                                        <span data-bind="i18n: &#39;Forgot Your Password?&#39;">Forgot Your Password?</span>
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-role="focusable-end" tabindex="0"></div>
    </aside>
</div>

<%= render partial: 'popup' %>

  </body>
</html>
