<!--<% @body_id = 'product-details' %>

<% cache cache_key_for_product do %>
  <div data-hook="product_show" class="row" itemscope itemtype="https://schema.org/Product">
    <div class="col-md-4 col-sm-5" data-hook="product_left_part">
      <div data-hook="product_left_part_wrap">
        <div id="product-images" data-hook="product_images">
          <div id="main-image" class="panel panel-default" data-hook>
            <div class="panel-body text-center">
              <%= product_image(@product, itemprop: "image") %>
            </div>
          </div>
          <div id="thumbnails" data-hook>
            <%= render partial: 'thumbnails' %>
          </div>
        </div>

        <div data-hook="product_properties">
          <%= render partial: 'properties' %>
        </div>

        <div data-hook="promotions">
          <%= render partial: 'promotions' %>
        </div>
      </div>
    </div>

    <div class="col-md-8 col-sm-7" data-hook="product_right_part">
      <div data-hook="product_right_part_wrap">
        <div id="product-description" data-hook="product_description">
          <h1 class="product-title" itemprop="name"><%= @product.name %></h1>

          <div class="well" itemprop="description" data-hook="description">
            <%= product_description(@product) %>
          </div>

          <div id="cart-form" data-hook="cart_form">
            <%= render partial: 'cart_form' %>
          </div>
        </div>

        <div id="taxon-crumbs" class=" five " data-hook="product_taxons">
          <%= render partial: 'taxons' %>
        </div>
      </div>
    </div>
  </div>
<% end %>




-->
<% @body_class = "catalog-product-view product-men-s-t-shirt-1 page-layout-2columns-right layout-fullwidth wide" %>

    <main id="maincontent" class="page-main">
        <a id="contentarea" tabindex="-1"></a>
        <div class="page messages">
            <div data-placeholder="messages"></div>
            <div data-bind="scope: &#39;messages&#39;">
                <div data-bind="foreach: { data: cookieMessages, as: &#39;message&#39; }" class="messages"></div>
                <div data-bind="foreach: { data: messages().messages, as: &#39;message&#39; }" class="messages"></div>
            </div>
        </div>
        <div class="columns">
            <div class="column main">
                <div class="product-info-main">
                    <div class="prev-next-products">
                        <div class="product-nav product-prev">
                            <a href="http://www.newsmartwave.net/magento2/porto/demo4_en/catalog/product/view/id/2101/s/men-s-t-shirt/" title="Previous Product"><em class="porto-icon-left-open"></em></a>
                            <div class="product-pop theme-border-color">
                                <%= image_tag("home-7-product3.jpg", class: "product-image") %>
                                <h3 class="product-name"><%= @product.name %></h3>
                            </div>
                        </div>
                        <div class="product-nav product-next">
                            <a href="http://www.newsmartwave.net/magento2/porto/demo4_en/catalog/product/view/id/2103/s/men-s-t-shirt-2/" title="Next Product"><em class="porto-icon-right-open"></em></a>
                            <div class="product-pop theme-border-color">
                                <%= image_tag("home-7-product1_2.jpg", class: 'product-image') %>
                                <h3 class="product-name">Men's Fashion</h3>
                            </div>
                        </div>
                    </div>
                    <div class="page-title-wrapper product">
                        <h1 class="page-title">
                            <span class="base" data-ui-id="page-title-wrapper" itemprop="name"><%= @product.name %></span>    
                        </h1>
                    </div>
                    <div class="product-reviews-summary empty">
                        <div class="reviews-actions">
                            <a class="action add" href="http://www.newsmartwave.net/magento2/porto/demo4_en/catalog/product/view/_ignore_category/1/id/2102/s/men-s-t-shirt-1/#review-form">
                            Be the first to review this product        </a>
                        </div>
                    </div>
                    <div class="product-info-price">
                        <div class="price-box price-final_price" data-role="priceBox" data-product-id="2102">
                            <span class="price-container price-final_price tax weee" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                                <span id="product-price-2102" data-price-amount="75" data-price-type="finalPrice" class="price-wrapper " itemprop="price"><span class="price">$<%= @product.price %></span></span>
                                <meta itemprop="priceCurrency" content="USD">
                            </span>
                        </div>
                        <div class="product-info-stock-sku">
                            <div class="stock available" title="Availability">
                              <% if @product.in_stock? %>
                                <span>In stock</span>
                              <% else %>
                                <span>Currently out of stock</span>
                              <% end %>
                            </div>
                            <div class="product attribute sku">
                                <strong class="type">SKU</strong>    
                                <div class="value" itemprop="sku"><%= @product.sku %></div>
                            </div>
                        </div>
                    </div>
                    <div class="product-add-form">
                        <%= form_for :order, url: populate_orders_path do |f| %>
                            <% if @product.variants_and_option_values(current_currency).any? %>
                              <div id="product-variants" class="col-md-6">
                                <h3 class="product-section-title"><%= Spree.t(:variants) %></h3>
                                <ul class="list-group">
                                  <% @product.variants_and_option_values(current_currency).each_with_index do |variant, index| %>
                                    <li>
                                      <%= radio_button_tag "variant_id", variant.id, index == 0,
                                          'data-price' => variant.price_in(current_currency).money, 
                                          'data-in-stock' => variant.can_supply?
                                      %>
                                      <%= label_tag "variant_id_#{ variant.id }" do %>
                                        <span class="variant-description">
                                          <%= variant_options variant %>
                                        </span>
                                        <% if variant_price variant %>
                                          <span class="price diff"><%= variant_price variant %></span>
                                        <% end %>
                                        <% unless variant.can_supply? %>
                                          <span class="out-of-stock"><%= Spree.t(:out_of_stock) %></span>
                                        <% end %>
                                      <% end %>
                                    </li>
                                  <% end%>
                                </ul>
                              </div>
                            <% else %>
                              <%= hidden_field_tag "variant_id", @product.master.id %>
                            <% end %>

                            <% if @product.can_supply? %>
                                <div class="box-tocart">
                                    <div class="fieldset">
                                        <div class="field qty">
                                            <label class="label" for="qty"><span>Qty</span></label>
                                            <div class="control">
                                                <%= number_field_tag :quantity, 1, class: 'title form-control input-text qty', id: 'qty', min: 1 %>
                                            </div>
                                            <div class="qty-changer">
                                                <a href="javascript:void(0)" class="qty-inc"><i class="porto-icon-up-dir"></i></a>
                                                <a href="javascript:void(0)" class="qty-dec"><i class="porto-icon-down-dir"></i></a>
                                            </div>
                                        </div>
                                        <div class="actions">
                                            <%= button_tag class: 'btn btn-success action primary tocart', id: 'add-to-cart-button', type: :submit do %>
                                              <%= Spree.t(:add_to_cart) %>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
                            <% else %>
                                <div class="box-tocart">
                                    <div class="fieldset">
                                        <p>This product is currently unavailable.</p>
                                        <div class="actions">
                                            <%= button_tag class: 'btn btn-success action primary tocart', id: 'add-to-cart-button', type: :submit, disabled: true do %>
                                              <%= Spree.t(:add_to_cart) %>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                        <% end %>
                    </div>

                    <%= render partial: "share_social" %>

                    <div class="product attribute overview">
                        <div class="value" itemprop="description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                </div>
                <div class="product media">
                    <div class="gallery-placeholder fotorama" data-gallery-role="gallery-placeholder" data-width= "500px" data-minheight="665px">
                        <%= large_image(@product, itemprop: "image") %>
                    </div>
                </div>
                <div class="product info detailed ">
                    <div class="product data items" role="tablist">
                        <div class="data item title active" aria-labeledby="tab-label-product.info.description-title" data-role="collapsible" id="tab-label-product.info.description" role="tab" data-collapsible="true" aria-controls="product.info.description" aria-selected="false" aria-expanded="true" tabindex="0">
                            <a class="data switch" tabindex="-1" data-toggle="switch" href="http://www.newsmartwave.net/magento2/porto/demo4_en/catalog/product/view/id/2102/s/men-s-t-shirt-1/#product.info.description" id="tab-label-product.info.description-title">
                            Details                    </a>
                        </div>
                        <div class="data item content" id="product.info.description" data-role="content" aria-labelledby="tab-label-product.info.description" role="tabpanel" aria-hidden="false">
                            <div class="product attribute description">
                                <div class="value">
                                    <%= @product.description %>
                                </div>
                            </div>
                        </div>
                        <div class="data item title" aria-labeledby="tab-label-reviews-title" data-role="collapsible" id="tab-label-reviews" role="tab" data-collapsible="true" aria-controls="reviews" aria-selected="false" aria-expanded="false" tabindex="0">
                            <a class="data switch" tabindex="-1" data-toggle="switch" href="http://www.newsmartwave.net/magento2/porto/demo4_en/catalog/product/view/id/2102/s/men-s-t-shirt-1/#reviews" id="tab-label-reviews-title">
                            Reviews                    </a>
                        </div>
                        <div class="data item content" id="reviews" data-role="content" aria-labelledby="tab-label-reviews" role="tabpanel" aria-hidden="true" style="display: none;">
                            <div id="product-review-container" data-role="product-review"></div>
                            <div class="block review-add">
                                <div class="block-title"><strong>Write Your Own Review</strong></div>
                                <div class="block-content">
                                    <form action="http://www.newsmartwave.net/magento2/porto/demo4_en/review/product/post/id/2102/" class="review-form" method="post" id="review-form" data-role="product-review-form" data-bind="scope: &#39;review-form&#39;" novalidate="novalidate">
                                        <input name="form_key" type="hidden" value="EVARFiAGejj96omJ">        
                                        <fieldset class="fieldset review-fieldset" data-hasrequired="">
                                            <legend class="legend review-legend"><span>You're reviewing:</span><strong><%= @product.name %></strong></legend>
                                            <br>
                                            <div class="field review-field-nickname required">
                                                <label for="nickname_field" class="label"><span>Nickname</span></label>
                                                <div class="control">
                                                    <input type="text" name="nickname" id="nickname_field" class="input-text" data-validate="{required:true}" data-bind="value: nickname()" aria-required="true">
                                                </div>
                                            </div>
                                            <div class="field review-field-summary required">
                                                <label for="summary_field" class="label"><span>Summary</span></label>
                                                <div class="control">
                                                    <input type="text" name="title" id="summary_field" class="input-text" data-validate="{required:true}" data-bind="value: review().title" aria-required="true">
                                                </div>
                                            </div>
                                            <div class="field review-field-text required">
                                                <label for="review_field" class="label"><span>Review</span></label>
                                                <div class="control">
                                                    <textarea name="detail" id="review_field" cols="5" rows="3" data-validate="{required:true}" data-bind="value: review().detail" aria-required="true"></textarea>
                                                </div>
                                            </div>
                                        </fieldset>
                                        <div class="actions-toolbar review-form-actions">
                                            <div class="primary actions-primary">
                                                <button type="submit" class="action submit primary"><span>Submit Review</span></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="data item title" aria-labeledby="tab-label-custom-1-title" data-role="collapsible" id="tab-label-custom-1" role="tab" data-collapsible="true" aria-controls="custom-1" aria-selected="false" aria-expanded="false" tabindex="0">
                            <a class="data switch" tabindex="-1" data-toggle="switch" href="http://www.newsmartwave.net/magento2/porto/demo4_en/catalog/product/view/id/2102/s/men-s-t-shirt-1/#custom-1" id="tab-label-custom-1-title">
                            Custom Tab                    </a>
                        </div>
                        <div class="data item content" id="custom-1" data-role="content" aria-labelledby="tab-label-custom-1" role="tabpanel" aria-hidden="true" style="display: none;">
                            <table class="table table-sizing-guide">
                                <thead>
                                    <tr>
                                        <th colspan="6"><b>Clothing - Single Size Conversion (Continued)</b></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>UK</td>
                                        <td>18</td>
                                        <td>20</td>
                                        <td>22</td>
                                        <td>24</td>
                                        <td>26</td>
                                    </tr>
                                    <tr>
                                        <td>European</td>
                                        <td>46</td>
                                        <td>48</td>
                                        <td>50</td>
                                        <td>52</td>
                                        <td>54</td>
                                    </tr>
                                    <tr>
                                        <td>US</td>
                                        <td>14</td>
                                        <td>16</td>
                                        <td>18</td>
                                        <td>20</td>
                                        <td>22</td>
                                    </tr>
                                    <tr>
                                        <td>Australia</td>
                                        <td>8</td>
                                        <td>10</td>
                                        <td>12</td>
                                        <td>14</td>
                                        <td>16</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>  
                </div>
                <input name="form_key" type="hidden" value="EVARFiAGejj96omJ">
                <div id="authenticationPopup" data-bind="scope:&#39;authenticationPopup&#39;" style="display: none;">
                    <script>
                        window.authenticationPopup = {"customerRegisterUrl":"http:\/\/www.newsmartwave.net\/magento2\/porto\/demo4_en\/customer\/account\/create\/","customerForgotPasswordUrl":"http:\/\/www.newsmartwave.net\/magento2\/porto\/demo4_en\/customer\/account\/forgotpassword\/","baseUrl":"http:\/\/www.newsmartwave.net\/magento2\/porto\/demo4_en\/"};
                    </script>
                    <!-- ko template: getTemplate() -->
                    <!-- /ko -->
                </div>
                <script data-role="msrp-popup-template" type="text/x-magento-template">
                    <div id="map-popup-click-for-price" class="map-popup">
                        <div class="popup-header">
                            <strong class="title" id="map-popup-heading-price"></strong>
                        </div>
                        <div class="popup-content">
                            <div class="map-info-price" id="map-popup-content">
                                <div class="price-box">
                                    <div class="map-msrp" id="map-popup-msrp-box">
                                        <span class="label">Price</span>
                                        <span class="old-price map-old-price" id="map-popup-msrp">
                                            <span class="price"></span>
                                        </span>
                                    </div>
                                    <div class="map-price" id="map-popup-price-box">
                                        <span class="label">Actual Price</span>
                                        <span id="map-popup-price" class="actual-price"></span>
                                    </div>
                                </div>
                                <form action="" method="POST" id="product_addtocart_form_from_popup" class="map-form-addtocart">
                                    <input type="hidden" name="product" class="product_id" value="" id="map-popup-product-id"/>
                                    <button type="button"
                                            title="Add to Cart"
                                            class="action tocart primary"
                                            id="map-popup-button">
                                        <span>Add to Cart</span>
                                    </button>
                                    <div class="additional-addtocart-box">
                                                            </div>
                                </form>
                            </div>
                            <div class="map-text" id="map-popup-text">
                                Our price is lower than the manufacturer's &quot;minimum advertised price.&quot; As a result, we cannot show you the price in catalog or the product page. <br /><br /> You have no obligation to purchase the product once you know the price. You can simply remove the item from your cart.            </div>
                        </div>
                    </div>
                </script>
                <script data-role="msrp-info-template" type="text/x-magento-template">
                    <div id="map-popup-what-this" class="map-popup">
                        <div class="popup-header">
                            <strong class="title" id="map-popup-heading-what-this"></strong>
                        </div>
                        <div class="popup-content">
                            <div class="map-help-text" id="map-popup-text-what-this">
                                Our price is lower than the manufacturer's &quot;minimum advertised price.&quot; As a result, we cannot show you the price in catalog or the product page. <br /><br /> You have no obligation to purchase the product once you know the price. You can simply remove the item from your cart.            </div>
                        </div>
                    </div>
                </script>
            </div>
            <div class="sidebar sidebar-additional">
                <div class="custom-block custom-block-1">
                    <div>
                        <em class="porto-icon-truck"></em>
                        <h3>FREE SHIPPING</h3>
                        <p>Free shipping on all orders over $99.</p>
                    </div>
                    <div>
                        <em class="porto-icon-dollar"></em>
                        <h3>MONEY BACK GUARANTEE</h3>
                        <p>100% money back guarantee.</p>
                    </div>
                    <div>
                        <em class="porto-icon-lifebuoy"></em>
                        <h3>ONLINE SUPPORT 24/7</h3>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
                <div class="custom-block">
                    <div id="custom-owl-slider-product" class="owl-carousel owl-theme owl-loaded">
                        <%= image_tag("ad1.jpg") %>
                        <%= image_tag('ad2.jpg') %>                        
                    </div>
                </div>
            </div>
        </div>
    </main>
