<div id="layer-product-list">
                    <div class="toolbar toolbar-products">
                        <div class="modes">
                            <strong class="modes-label" id="modes-label">View as</strong>

                            <a class="modes-mode active mode-grid" title="List" href="#" data-role="mode-switcher" data-value="grid" id="mode-grid" aria-labelledby="modes-label mode-grid">
                                <span>Grid</span>
                            </a>

                            <a class="modes-mode mode-list" title="List" href="#" data-role="mode-switcher" data-value="list" id="mode-list" aria-labelledby="modes-label mode-list">
                                <span>List</span>
                            </a>
                        </div>
                        <p class="toolbar-amount" id="toolbar-amount">
                            <span class="toolbar-number"><%= @products.size %></span> <%= 'Item'.pluralize(@products.size) %>
                        </p>
                        <div class="field limiter">
                            <label class="label" for="limiter">
                                <span>Show</span>
                            </label>
                            <div class="control">
                                <select id="limiter" data-role="limiter" class="limiter-options">
                                    <option value="12" selected="selected">
                                        12 </option>
                                    <option value="24">
                                        24 </option>
                                    <option value="36">
                                        36 </option>
                                </select>
                            </div>
                            <span class="limiter-text">per page</span>
                        </div>
                        <div class="toolbar-sorter sorter">
                            <label class="sorter-label" for="sorter">Sort By</label>
                            <select id="sorter" data-role="sorter" class="sorter-options">
                                <option value="position" selected="selected">
                                    Position </option>
                                <option value="name">
                                    Product Name </option>
                                <option value="price">
                                    Price </option>
                            </select>
                            <a title="Set Descending Direction" href="http://www.newsmartwave.net/magento2/porto/demo4_en/fashion/women/tops-blouses.html?color=58#" class="action sorter-action sort-asc" data-role="direction-switcher" data-value="desc">
                                <span>Set Descending Direction</span>
                            </a>
                        </div>
                    </div>
                    <div class="products wrapper grid columns4  products-grid">
                      <ol class="products list items product-items">
                        <% @products.each do |product| %>
                          <li class="item product product-item nth-child-2n">
                            <div class="product-item-info" data-container="product-grid">
                              <div class="product photo product-item-photo">
                                <a href="<%= product_path(product) %>" tabindex="-1">
                                  <%= product_image(product, itemprop: "image", class: "product-image-photo default_image ") %>
                                </a>
                                <a class="weltpixel-quickview weltpixel_quickview_button_v2" data-quickview-url="http://www.newsmartwave.net/magento2/porto/demo4_en/weltpixel_quickview/catalog_product/view/id/1769/" href="javascript:void(0);">
                                  <span>
                                    <em class="porto-icon-eye"></em>Quickview
                                  </span>
                                </a>
                              </div>
                              <div class="product details product-item-details">
                                <strong class="product name product-item-name">
                                  <a class="product-item-link" href="http://www.newsmartwave.net/magento2/porto/demo4_en/chloe-compete-tank.html">
                                    <%= product.name %>
                                  </a>
                                </strong>
                                <div class="product-reviews-summary short no-rating">
                                  <div class="reviews-actions">
                                    <a class="action view" href="http://www.newsmartwave.net/magento2/porto/demo4_en/chloe-compete-tank.html#reviews">3&nbsp;
                                      <span>Reviews</span>
                                    </a>
                                  </div>
                                </div>
                                <div class="price-box price-final_price" data-role="priceBox" data-product-id="1769">
                                  <span class="price-container price-final_price tax weee">
                                    <span id="product-price-1769" data-price-amount="39" data-price-type="finalPrice" class="price-wrapper ">
                                      <span class="price">$<%= product.price %></span>
                                    </span>
                                  </span>
                                </div>
                                
                                <div class="product-item-inner ">
                                  <div class="product actions product-item-actions ">
                                    <a href=ttp://www.newsmartwave.net/magento2/porto/demo4_en/fashion/women/tops-blouses.html?color=58#" class="action towishlist actions-secondary" title="Add to Wish List" aria-label="Add to Wish List" data-post="{&quot;action&quot;:&quot;http:\/\/www.newsmartwave.net\/magento2\/porto\/demo4_en\/wishlist\/index\/add\/&quot;,&quot;data&quot;:{&quot;product&quot;:&quot;1769&quot;,&quot;uenc&quot;:&quot;aHR0cDovL3d3dy5uZXdzbWFydHdhdmUubmV0L21hZ2VudG8yL3BvcnRvL2RlbW80X2VuL2Zhc2hpb24vd29tZW4vdG9wcy1ibG91c2VzLmh0bWw_Y29sb3I9NTg,&quot;}}" data-action="add-to-wishlist" role="button">
                                      <span>Add to Wish List</span>
                                    </a>
                                    <div class="actions-primary">
                                      <form data-role="tocart-form" action="http://www.newsmartwave.net/magento2/porto/demo4_en/checkout/cart/add/uenc/aHR0cDovL3d3dy5uZXdzbWFydHdhdmUubmV0L21hZ2VudG8yL3BvcnRvL2RlbW80X2VuL2Zhc2hpb24vd29tZW4vdG9wcy1ibG91c2VzLmh0bWw_Y29sb3I9NTg,/product/1769/" method="post">
                                        <input type="hidden" name="product" value="1769">
                                        <input type="hidden" name="uenc" value="aHR0cDovL3d3dy5uZXdzbWFydHdhdmUubmV0L21hZ2VudG8yL3BvcnRvL2RlbW80X2VuL2NoZWNrb3V0L2NhcnQvYWRkL3VlbmMvYUhSMGNEb3ZMM2QzZHk1dVpYZHpiV0Z5ZEhkaGRtVXVibVYwTDIxaFoyVnVkRzh5TDNCdmNuUnZMMlJsYlc4MFgyVnVMMlpoYzJocGIyNHZkMjl0Wlc0dmRHOXdjeTFpYkc5MWMyVnpMbWgwYld3X1kyOXNiM0k5TlRnLC9wcm9kdWN0LzE3Njkv">
                                        <input name="form_key" type="hidden" value="BzGiTCZkvoGJkRlN">
                                        <button type="submit" title="Add to Cart" class="action tocart primary">
                                            <span>Add to Cart</span>
                                        </button>
                                        <input class="swatch-input super-attribute-select" name="super_attribute[90]" type="text" value="" data-selector="super_attribute[90]" data-validate="{required:true}" aria-required="true" aria-invalid="true" style="visibility: hidden; position:absolute; left:-1000px">
                                        <input class="swatch-input super-attribute-select" name="super_attribute[137]" type="text" value="" data-selector="super_attribute[137]" data-validate="{required:true}" aria-required="true" aria-invalid="true" style="visibility: hidden; position:absolute; left:-1000px">
                                      </form>
                                    </div>
                                    <a href="http://www.newsmartwave.net/magento2/porto/demo4_en/fashion/women/tops-blouses.html?color=58#" class="action tocompare actions-secondary" title="Add to Compare" aria-label="Add to Compare" data-post="{&quot;action&quot;:&quot;http:\/\/www.newsmartwave.net\/magento2\/porto\/demo4_en\/catalog\/product_compare\/add\/&quot;,&quot;data&quot;:{&quot;product&quot;:&quot;1769&quot;,&quot;uenc&quot;:&quot;aHR0cDovL3d3dy5uZXdzbWFydHdhdmUubmV0L21hZ2VudG8yL3BvcnRvL2RlbW80X2VuL2Zhc2hpb24vd29tZW4vdG9wcy1ibG91c2VzLmh0bWw_Y29sb3I9NTg,&quot;}}" role="button">
                                      <span>Add to Compare</span>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </li>
                        <% end %>
                      </ol>
                    </div>
                      <div class="toolbar toolbar-products">
                          <div class="modes">
                              <strong class="modes-label" id="modes-label">View as</strong>
                              <strong title="Grid" class="modes-mode active mode-grid" data-value="grid">
                                                                                                        <span>Grid</span>
                                                                                                      </strong>
                              <a class="modes-mode mode-list" title="List" href="http://www.newsmartwave.net/magento2/porto/demo4_en/fashion/women/tops-blouses.html?color=58#" data-role="mode-switcher" data-value="list" id="mode-list" aria-labelledby="modes-label mode-list">
                                  <span>List</span>
                              </a>
                          </div>
                          <p class="toolbar-amount" id="toolbar-amount">
                              <span class="toolbar-number">5</span> Items
                          </p>
                          <div class="field limiter">
                              <label class="label" for="limiter">
                                  <span>Show</span>
                              </label>
                              <div class="control">
                                  <select id="limiter" data-role="limiter" class="limiter-options">
                                      <option value="12" selected="selected">
                                          12 </option>
                                      <option value="24">
                                          24 </option>
                                      <option value="36">
                                          36 </option>
                                  </select>
                              </div>
                              <span class="limiter-text">per page</span>
                          </div>
                          <div class="toolbar-sorter sorter">
                              <label class="sorter-label" for="sorter">Sort By</label>
                              <select id="sorter" data-role="sorter" class="sorter-options">
                                  <option value="position" selected="selected">
                                      Position </option>
                                  <option value="name">
                                      Product Name </option>
                                  <option value="price">
                                      Price </option>
                              </select>
                              <a title="Set Descending Direction" href="http://www.newsmartwave.net/magento2/porto/demo4_en/fashion/women/tops-blouses.html?color=58#" class="action sorter-action sort-asc" data-role="direction-switcher" data-value="desc">
                                  <span>Set Descending Direction</span>
                              </a>
                          </div>
                      </div>
                        </div>
                        <script data-role="msrp-popup-template" type="text/x-magento-template">
                            <div id="map-popup-click-for-price" class="map-popup">
                                <div class="popup-header">
                                    <strong class="title" id="map-popup-heading-price"></strong>
                                </div>
                                <div class="popup-content">
                                    <div class="map-info-price" id="map-popup-content">
                                        <div class="price-box">
                                            <div class="map-msrp" id="map-popup-msrp-box">
                                                <span class="label">Price</span>
                                                <span class="old-price map-old-price" id="map-popup-msrp">
                                                                                                                <span class="price"></span>
                                                </span>
                                            </div>
                                            <div class="map-price" id="map-popup-price-box">
                                                <span class="label">Actual Price</span>
                                                <span id="map-popup-price" class="actual-price"></span>
                                            </div>
                                        </div>
                                        <form action="" method="POST" id="product_addtocart_form_from_popup" class="map-form-addtocart">
                                            <input type="hidden" name="product" class="product_id" value="" id="map-popup-product-id" />
                                            <button type="button" title="Add to Cart" class="action tocart primary" id="map-popup-button">
                                                <span>Add to Cart</span>
                                            </button>
                                            <div class="additional-addtocart-box"></div>
                                        </form>
                                    </div>
                                    <div class="map-text" id="map-popup-text">
                                        Our price is lower than the manufacturer's &quot;minimum advertised price.&quot; As a result, we cannot show you the price in catalog or the product page.
                                        <br />
                                        <br /> You have no obligation to purchase the product once you know the price. You can simply remove the item from your cart.
                                    </div>
                                </div>
                            </div>
                        </script>
                        <script data-role="msrp-info-template" type="text/x-magento-template">
                            <div id="map-popup-what-this" class="map-popup">
                                <div class="popup-header">
                                    <strong class="title" id="map-popup-heading-what-this"></strong>
                                </div>
                                <div class="popup-content">
                                    <div class="map-help-text" id="map-popup-text-what-this">
                                        Our price is lower than the manufacturer's &quot;minimum advertised price.&quot; As a result, we cannot show you the price in catalog or the product page.
                                        <br />
                                        <br /> You have no obligation to purchase the product once you know the price. You can simply remove the item from your cart.
                                    </div>
                                </div>
                            </div>
                        </script>