<div class="item product product-item">
    <div class="product-item-info" data-container="product-grid">
        <div class="product photo product-item-photo">
            <a href="<%= product_path(product) %>" tabindex="-1">
                <%= product_image(product, itemprop: "image", class: "product-image-photo default_image ") %>
            </a>
        </div>
        <div class="product details product-item-details">
            <strong class="product name product-item-name">
            <a class="product-item-link" href="<%= product_path(product) %>">
              <%= product.name %>
            </a>
            </strong>
            <div class="product-reviews-summary short">
                <div class="rating-summary">
                    <span class="label"><span>Rating:</span></span>
                    <div class="rating-result" title="0%">
                        <span style="width:0"><span>0%</span></span>
                    </div>
                </div>
            </div>
            <div class="price-box price-final_price" data-role="priceBox" data-product-id="2102">
                <span class="price-container price-final_price tax weee">
                <span id="product-price-2102" data-price-amount="75" data-price-type="finalPrice" class="price-wrapper ">
                <span class="price"><%= display_price(product) %></span>    </span>
                </span>
            </div>
            <a class="weltpixel-quickview weltpixel_quickview_button_v2" data-quickview-url="<%= quickview_path(product) %>" href="javascript:void(0);"><span><em class="porto-icon-eye"></em>Quickview</span></a>                        
            <div class="product-item-inner">
                <div class="product actions product-item-actions">
                    <a href="#" class="action towishlist actions-secondary" title="Wish List" aria-label="Wish List" data-action="add-to-wishlist" role="button">
                        <span>Wish List</span>
                    </a>
                    <div class="actions-primary">
                        <%= form_for :order, url: populate_orders_path do |f| %>

                            <% if product.variants_and_option_values(current_currency).any? %>
                              <div id="product-variants" class="col-md-6">
                                <h3 class="product-section-title"><%= Spree.t(:variants) %></h3>
                                <ul class="list-group">
                                  <% product.variants_and_option_values(current_currency).each_with_index do |variant, index| %>
                                    <li>
                                      <%= radio_button_tag "variant_id", variant.id, index == 0,
                                          'data-price' => variant.price_in(current_currency).money, 
                                          'data-in-stock' => variant.can_supply?
                                      %>
                                      <%= label_tag "variant_id_#{ variant.id }" do %>
                                        <span class="variant-description">
                                          <%= variant_options variant %>
                                        </span>
                                        <% if variant_price variant %>
                                          <span class="price diff"><%= variant_price variant %></span>
                                        <% end %>
                                        <% unless variant.can_supply? %>
                                          <span class="out-of-stock"><%= Spree.t(:out_of_stock) %></span>
                                        <% end %>
                                      <% end %>
                                    </li>
                                  <% end%>
                                </ul>
                              </div>
                            <% else %>
                              <%= hidden_field_tag "variant_id", product.master.id %>
                            <% end %>

                            <button type="submit" title="Add to Cart" class="action tocart primary">
                                <span>Add to Cart</span>
                            </button>
                        <% end %>
                    </div>
                    <a href="http://www.newsmartwave.net/magento2/porto/demo4_en#" class="action tocompare actions-secondary" title="Compare" aria-label="Compare" data-post="{&quot;action&quot;:&quot;http:\/\/www.newsmartwave.net\/magento2\/porto\/demo4_en\/catalog\/product_compare\/add\/&quot;,&quot;data&quot;:{&quot;product&quot;:&quot;2102&quot;,&quot;uenc&quot;:&quot;aHR0cDovL3d3dy5uZXdzbWFydHdhdmUubmV0L21hZ2VudG8yL3BvcnRvL2RlbW80X2Vu&quot;}}" role="button">
                    <span>Compare</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>